doctype html
html(lang="en")
  head
    title Registered Files

   
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
    link(rel="stylesheet",href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
  
                                                                   



  body
    div(style=`background-image:url("../public/images/pic.jpg")`)
      div.card-body.text-center
        h3.text-black  Kidsville Baby Center
        img.mb-4(src="images/pic.jpg", alt="babies" width="150" height="150")


    block content


    block foot

      div.container-fluid.bg-secondary.mb-4
        div.card-body.text-center
          h3.text-white  Care for little explorers. &copy; Kidsville
    script(src="/js/form-validation.js")
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
    script.
      window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\\/script>')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" )
  





