extends layout
block content
    div.row.justify-content-center
        div.col-md-4
            div.card-body.border
                header.card-header  
                    h4.card-title Welcome to the Supervisor's dashboard.

                       
                        a.btn.btn-primary.btn-block(href="/parentregistration") Appointment for New Customer
                        a.btn.btn-success.btn-block(href="/parentlogin") Appointment for Already Registered Customer
                        a.btn.btn-secondary.btn-block(href="/supervisorlogout") Logout
        div.col-md-7
            header.card-header
                h4.card-title Enter Customer Details
                b Customer ID # #{currentUser.parentusername}  


                div.col.form-group.col-md-9
                    form.needs-validation(novalidate="" method="POST" action='/parentdashboard')
                        div.form-row
                            div.col.form-group
                                label Please Enter Parent's Phone number
                                input.form-control(name="parentphone" placeholder="Enter Parent's contact:")
                                .invalid-feedback
                                | Valid last name is required.

                        div.form-row
                            div.col.form-group
                                label Enter Baby's Name
                                input.form-control( name="babyname" placeholder="Enter baby's name:")
                                
                            div.col.form-group
                                label Enter Baby's Age
                                input.form-control( name="babyage" placeholder="Enter baby's age:")
                                

                        div.form-row
                            div.col.form-group
                                label Club
                                select#inputState.form-control(name="club" )
                                    option Choose...
                                    option(value="morning" ) Morning
                                    option(value="afternoon" ) Afternoon
                                    option(value="evening" ) Evening
                                    option(value="night" ) Night


                        div.form-row
                            div.col.form-group
                                label Hours
                                select#inputState.form-control(type="integer" name="time" )
                                    option Choose...
                                    option(value="one" ) 1
                                    option(value="two" ) 2
                                    option(value="three" ) 3
                                    option(value="four" ) 4
                                    option(value="five" ) 5
                                    option(value="six" ) 6

                            div.col.form-group
                                label Total Bill
                                input.form-control( name="totalPrice" )


                        div.form-row
                            div.col.form-group
                                label Billing per 2 hours
                                select#inputState.form-control(name="bill")
                                    option Choose...
                                    option(value="dayclub" ) UGX 8500/=
                                    option(value="nightclub" ) UGX 12000/=



                            div.col.form-group
                                label Please Add Extra information for the Sitter on Duty
                                textarea.form-control(name="childinformation" cols="30", rows="3" placeholder="Please enter extra details for your child here:")        


                        div.form-row
                            
                            div.form-group.col-md-6
                                label Choose Baby's Sitter
                                select#inputState.form-control(name="sitter")
                                    each user in users
                                        option(value="maria" ) Maria
                                        option(value="maria" ) Doreen
                                        //- option #{user.sitterfirstname}  
                                    


                        div.form-row
                            div.col.form-group
                                button.btn.btn-primary.btn-block(type="submit") Submit







