//- users is the variable name----looping through the collection,so that we don't repeat ourselves.....user is a variable for users
extends layout
block content
    div.row.justify-content-center
        div.col-md-7
            div.card-body.border
                header.card-header  
                    h4.card-title Welcome to the Supervisor dashboard.

                       
                        a.btn.btn-primary.btn-block(href="/parentregistration") Appointment for New Customer
                        a.btn.btn-primary.btn-block(href="/parentlogin") Appointment for Already Registered Customer
                        a.btn.btn-primary.btn-block(href="/supervisorlogout") Logout
